#acert-popup-content(style="width:500px;")
	a(href="#", url=props.url)#title-link.popup-title= props.name
	if props.media
		.media-content(style="padding:5px 0px;")!= props.media	
	table#attributes-container
		tr
			td(style="width:250px;")
				table(style="color:white !important;")
					tr
						td.td-title Contact Information:
					tr
						td.td-content=props.office
					tr
						td.td-content=props.street								 
					tr
						td.td-content=props.city+", "+props.state+" "+props.zipcode
					tr
						td.td-content=props.phone
			td(style="width:250px;")
				table(style="color:white !important;")
					tr		
						td.td-title Elevation:
						td.td-content=props.elevationf+" ft"
					tr		
						td.td-title Agency:
						td.td-content=agency
					tr
						td.td-title Resources:
				div
					each resource in resources
						if props[resource.fName] == "1"
							img(src="style/images/inactive/"+resource.fName+".png", title=resource.vPairs[0].label)