#acert-popup-content(style="width:500px;")
	#title-link.popup-title(style="text-decoration: none;")= props.name
	if props.media
		.media-content(style="padding:5px 0px;")!= props.media	
	table#attributes-container
		tr
			td(style="width:300px;")
				table(style="color:white !important;")
					tr
						td.td-title Contact Information:
					tr
						td.td-content=props.office
					tr
						td.td-content=props.street								 
					tr
						td.td-content=props.city+", "+props.state+" "+props.zipcode
					tr
						td.td-content=props.phone
					tr
						td.td-title() 
							span#view-page(url=props.url, style="text-decoration: underline; margin-right: 30px; cursor: pointer;") View Webpage
							span#google-direction(onclick="goGoogleDirection('"+props.lat+","+props.lng+"')",style="text-decoration: underline; cursor: pointer; color: #3ac7f3") Get Directions
			td(style="width:200px;")
				table(style="color:white !important;")
					tr
						if props.elevationf > 0		
							td.td-title Elevation:
							td.td-content=props.elevationf+" ft"
					tr		
						td.td-title Agency:
						td.td-content=agency
					tr
						td.td-title Resources:
				div
					each resource in resources
						if props[resource.fName] == "1"
							img(src="style/images/inactive/"+resource.fName+".png", title=resource.vPairs[0].label)