#acert-popup-content(style="width:500px;")
	#title-link.popup-title(style="text-decoration: none;")= props.name
	if props.media
		.media-content(style="padding:5px 0px;")!= props.media	
	table#attributes-container
		tr
			td(style="width:300px;")
				table(style="color:black !important;")
					if props.agency!="ADOT"
						tr
							td.td-title Contact Information:
						tr
							td.td-content=props.office
						tr
							td.td-content=props.street								 
						tr
							td.td-content=props.city+", "+props.state+" "+props.zipcode
						tr
							td.td-content=props.phone
					tr
						td.td-title(style="font-style: italic;")
							span#view-page(url=props.url, style="text-decoration: underline; margin-right: 30px; cursor: pointer; font-weight: normal; color: #da70d6;") View Webpage
							span#google-direction(onclick="goGoogleDirection('"+props.lat+","+props.lon+"')",style="text-decoration: underline; cursor: pointer; color: #777777; font-weight: normal;") Get Directions
			td(style="width:200px;")
				table(style="color:black !important;")
					tr
						if props.elevationf > 0		
							td.td-title Elevation:
							td.td-content=props.elevationf+" ft"
					if props.agency!="ADOT"
						tr		
							td.td-title Agency:
							td.td-content=agency
					tr
						td.td-title Resources:
				div
					each resource in resources
						if props[resource.fName] == "1"
							img(src="style/images/inactive/"+resource.fName+".png", title=resource.vPairs[0].label)